.content {
    background-color: white;
}

.button-more-products button {
    font-family: "Roboto";
    font-size: 13px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}